.c-btn {
    display: inline-block;
    background-color: #F7D43F;
    width: 235px;
    height: 60px;
    border-radius: 30px;
    color: #171717;
    font-family: 'Noto Serif';
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}