        .c-top-ttl {
            &__left {
                max-width: 1000px;
                margin: 0 auto;
                h3 {
                    display: inline-block;
                    padding-top: 100px;
                    font-family: 'Noto Serif';
                    font-weight: bold;
                    font-style: italic;
                    font-size: 1.875rem;
                    color: #282F35;
                    letter-spacing: 0.05em;
                    @include break($pc) {
                        font-size: 3.75rem;
                    }
                }
                span {
                    margin-left: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 90px;
                    height: 5px;
                    background-color: #282F35;
                    @include break($pc) {
                        width: 200px;
                    }
                }
            }
            &__right {
                max-width: 1200px;
                text-align: right;
                margin: 0 auto;
                h3 {
                    display: inline-block;
                    padding-top: 100px;
                    font-family: 'Noto Serif';
                    font-weight: bold;
                    font-style: italic;
                    font-size: 1.875rem;
                    color: #FFFFFF;
                    letter-spacing: 0.1em;
                    @include break($pc) {
                        font-size: 3.75rem;
                    }
                }
                span {
                    margin-left: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100px;
                    height: 5px;
                    background-color: #FFFFFF;
                    @include break($pc) {
                        width: 200px;
                    }
                }
            }
            &__contact {
                h3 {
                    display: inline-block;
                    padding-top: 173px;
                    font-family: 'Noto Serif';
                    font-weight: bold;
                    font-style: italic;
                    font-size: 1.875rem;
                    color: #FFFFFF;
                    letter-spacing: 0.1em;
                    @include break($pc) {
                        font-size: 3.75rem;
                    }
                }
            }
        }
        
        .c-bottom-ttl {
            &__right {
                max-width: 1200px;
                text-align: right;
                margin: 0 auto;
                h2 {
                    padding: 40px 0;
                    font-family: 'Noto Serif';
                    font-weight: bold;
                    font-size: 2.5rem;
                    color: #171717;
                    letter-spacing: 0.05em;
                    opacity: 0.05;
                    @include break($pc) {
                        padding: 70px 0;
                        font-size: 5.625rem;
                    }
                }
            }
            &__left {
                max-width: 1200px;
                margin: 0 auto;
                h2 {
                    padding: 40px 0;
                    text-align: left;
                    color: #FFFFFF;
                    opacity: 0.1;
                    font-family: 'Noto Serif';
                    font-weight: bold;
                    font-size: 2.5rem;
                    letter-spacing: 0.05em;
                    @include break($pc) {
                        padding: 70px 0;
                        font-size: 5.625rem;
                    }
                }
            }
            &__contact {
                margin: 0 auto;
                h2 {
                    padding: 40px 0;
                    text-align: left;
                    color: #FFFFFF;
                    opacity: 0.1;
                    font-family: 'Noto Serif';
                    font-weight: bold;
                    font-size: 2.5rem;
                    letter-spacing: 0.05em;
                    @include break($pc) {
                        padding: 15px 0 0 28px;
                        font-size: 5.625rem;
                    }
                }
            }
        }