.p-contact {
    background-image: url(/img/contact-bgi@2x.jpg);
    background-position: center;
    text-align: center;
    p {
        padding-top: 80px;
        font-family: 'Noto Serif JP';
        font-weight: bold;
        font-size: 1.25rem;
        color: #FFFFFF;
        text-align: center;
        letter-spacing: 0.05em;
    }
    a {
        margin-top: 30px;
    }
}