.p-header {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    @include break($pc) {
        padding-top: 19px;
    }
    &__logo {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
        }
        a:hover {
            opacity: .7;
            transition: .3s;
        }
        h1 {
            color: #ffffff;
            font-family: 'Noto Serif';
            font-weight: bold;
            font-style: italic;
            font-size: 1.625rem;
            letter-spacing: 0.05em;
        }
        &__menu {
            display: none;
            @include break($pc) {
                display: block;
                ul {
                    display: flex;
                    li {
                        list-style: none;
                        color: #ffffff;
                        font-family: 'Noto Serif';
                        font-weight: bold;
                        font-style: italic;
                        font-size: 1rem;
                        letter-spacing: 0.05em;
                        margin-left: 30px;
                        a {
                            text-decoration: none;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

.p-header.fixed {
    display: none;
    @include break($pc) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #282F35;
        height: 90px;
        transition: .3s;
    }
}