.p-service {
    ul {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        @include break($pc) {
            flex-direction: row;
        }
    }
    &__contents {
        &__img {
            margin-bottom: 30px;
            width: 100%;
            height: ０;
            padding-bottom: 66.66667%;
            position: relative;
            background-size: contain;
            @include break($pc) {
                padding-bottom: 22.2222222%;
            }
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                font-family: 'Noto Serif';
                font-weight: bold;
                font-style: italic;
                font-size: 1.25rem;
                color: #ffffff;
                letter-spacing: 0.1em;
            }
        }
        &__img:first-child {
            background: url(/img/service-img01@2x.jpg) center center no-repeat;
        }
        &__img:nth-child(2) {
            background: url(/img/service-img02@2x.jpg) center center no-repeat;
        }
        &__img:last-child {
            background: url(/img/service-img03@2x.jpg) center center no-repeat;
            margin-bottom: 0;
            @include break($pc) {
                margin-bottom: 30px;
            }
        }
        &__img:hover::after {
            content: '';
            background-color: rgba(23, 23, 23, .3);
            background-size: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}